# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore everything in the "plugins" directory, except ...
plugins/*
!plugins/fc-infinite-post-loader/
!plugins/fc-custom-menus/
!plugins/fc-plugin-template-status-dashboard/
!plugins/fc-gravity-forms-glue/
!plugins/fc-custom-emails/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
