# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore everything in the "plugins" directory, except ...
plugins/*
!wp-content/plugins/helipad-admin/
!wp-content/plugins/child-kit/
!wp-content/plugins/fc-infinite-post-loader/
!wp-content/plugins/fc-wc-filters-glue/
!wp-content/plugins/fc-custom-menus/
!wp-content/plugins/fc-plugin-template-status-dashboard/
!wp-content/plugins/fc-gravity-forms-glue/
!wp-content/plugins/fc-custom-emails/
!wp-content/plugins/fc-subscription-toggle/
!wp-content/plugins/fc-new-user-activation/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
